<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="https://unpkg.com/mathjs@6.6.1/dist/math.min.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>Optimalization APK</title>
    </head>
    <body>
        <div class="container-fluid">
            {% if c_id or clinet %}
                <div class="col" style="margin: 15px">
                    <form action="/disconnect/{{c_id}} " method="POST">
                        <input type="submit" name="button" value="Disconnect"/>
                    </form>
                </div>

            {% else %}
                <div class="w3-container w3-lobster">
                   <p class="w3-xxxlarge">Distributed Optimization - UIAM</p>
                </div>
            {% endif %}
            <hr>
            <div class="d-flex justify-content-center">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>