{% extends "base.html" %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script  type="text/javascript" src="/static/js/script_opt.js"></script>
<script type="text/php" src="/static/php/ajax.php"></script>

    <script>
        var client_id = '{{ c_id }}';
        var number_of_optimization = 0;
        var solutions_value = [];
        var iterations = [];
        var data_x_graph=0;
        var data_y_graph=0;
        var dimension_y = [];
        $(document).ready(function() {
            var socket = io.connect('http://localhost:8080/');

            socket.on('connect', function() {
                socket.emit('mpc_connect_websocetio','User has connected!',client_id,'');
            });

            socket.on('reconnect', function(id) {
                if (id == client_id){
                    socket.emit('mpc_connect_websocetio','User has reconnect!',client_id,'');
                }
            });

            socket.on('js_worker', function(data){

                if (data.hasOwnProperty(client_id)){
                    if (data['x'] != 'ADMM'){
                    //////////////////////////////////////////// Plot of states ////////////////////////////////////////
                        data_y_graph = [data['x'], data['ref']].flat();
                        dimension_y = data['x'].length;
                        if (data_x_graph == 0){
                            Chart_states.data.labels.pop();
                            Chart_states.update();
                            for(i=0;i < data_y_graph.length;i++){
                                function getRandomRgb() {
                                    var r = Math.floor(Math.random()*256);
                                    var g = Math.floor(Math.random()*256);
                                    var b = Math.floor(Math.random()*256);
                                    return 'rgb(' + r + ', ' + g + ', ' + b + ')';
                                }
                                if (i < data['x'].length){
                                    var_name = 'x_'+String(i)
                                }else{
                                    var_name = 'x_ref_'+String(i-data['x'].length)
                                }
                                var new_dataset = {
                                    label: [var_name],
                                    data: [],
                                    steppedLine: true,
                                    borderColor: [getRandomRgb()],
                                    backgroundColor: "transparent",
                                    borderWidth: 1
                                }
                                Chart_states.data.datasets.push(new_dataset);
                                Chart_states.update();
                            }
                        }

                        Chart_states.data.labels.push(data_x_graph);
                        for(i=0;i < data_y_graph.length;i++){
                            Chart_states.data.datasets[i].data.push(data_y_graph[i]);
                        }


                        Chart_states.update();
                    /////////////////////////////////// Plot of inputs /////////////////////////////////////////////////
                        data_y_graph = [data['u']].flat();
                        if (data_x_graph == 0){
                            Chart_inputs.data.labels.pop();
                            Chart_inputs.update();
                            for(i=0;i < data_y_graph.length;i++){
                                function getRandomRgb() {
                                    var r = Math.floor(Math.random()*256);
                                    var g = Math.floor(Math.random()*256);
                                    var b = Math.floor(Math.random()*256);
                                    return 'rgb(' + r + ', ' + g + ', ' + b + ')';
                                }
                                var new_dataset = {
                                    label: ['u'+String(i)],
                                    data: [],
                                    steppedLine: true,
                                    borderColor: [getRandomRgb()],
                                    backgroundColor: "transparent",
                                    borderWidth: 1
                                }
                                Chart_inputs.data.datasets.push(new_dataset);
                                Chart_inputs.update();
                            }
                        }
                        Chart_inputs.data.labels.push(data_x_graph);
                        if (data_y_graph.length > 1){
                            for(i=0;i < data_y_graph.length;i++){
                                Chart_inputs.data.datasets[i].data.push(data_y_graph[i]);
                            }
                        }else{
                            Chart_inputs.data.datasets[0].data.push(data_y_graph[0]);
                        }
                        Chart_inputs.update();
                        data_x_graph = data_x_graph + 1;
                    }
                    /////////////////////////////////////////// END OF PLOTS ///////////////////////////////////////////

                    $("#solution_find").empty();

                    var grad = data[client_id];
                    var solution = gdmethod(grad);
                    var kmax = 10000;
                    solutions_value.push(solution[1])

                    number_of_optimization = number_of_optimization +1;
                    var button_optimization = number_of_optimization;

                    socket.emit('ADMN_calulate',solution,client_id);

                    if (number_of_optimization > 1){
                        var pom_n = solutions_value[number_of_optimization-2].length;
                        var pom_m = 0;
                        for (i = 0; i < (number_of_optimization-1); i++){
                            pom_m = pom_m + solutions_value[i].length;
                        };
                        for (i = pom_m-pom_n+1; i < pom_m+1; i++){
                            $('#table_of_solutions > tbody > tr:nth-child(' + i + ')').hide();
                        };
                    };
                    for (i = 0; i < solution[0].length; i++){
                        $('#table_of_solutions  > tbody:last-child').append('<tr id="' + number_of_optimization + '"><td>' + solution[1][i] + '</td><td>' + solution[0][i] + '</td></tr>');
                    };
                    $("#solution_find").append('Solution found');
                    iterations.push(solution[2])
                    $("#iteration").html(solution[2]);


                    if (button_optimization == number_of_optimization){
                        $("#next").attr('class', 'btn btn-dark invisible');
                    } else{
                        $("#next").attr('class', 'btn btn-dark visible');
                    }

                    if (button_optimization < 2){
                        $("#previous").attr('class', 'btn btn-dark invisible');
                    } else{
                        $("#previous").attr('class', 'btn btn-dark visible');
                    }

                    button_optimization = number_of_optimization;
                    $("#next").html(button_optimization+1);
                    $("#previous").html(button_optimization-1);
                    $("#last").html(button_optimization);

                    $("#last").unbind("click").on('click', function(){
                        var pom_n = 0;
                        for (i=0;i < button_optimization-1; i++){
                            pom_n = pom_n + solutions_value[i].length;
                        };
                        for(i=pom_n+1; i < pom_n+solutions_value[button_optimization-1].length+1; i++){
                            $('#table_of_solutions > tbody > tr:nth-child(' + i + ')').hide();
                        };

                        button_optimization = number_of_optimization;
                        $("#next").attr('class', 'btn btn-dark invisible');
                        $("#last").html(button_optimization);
                        $("#next").html(button_optimization+1);
                        $("#previous").html(button_optimization-1);
                        if (button_optimization > 1){
                            $("#previous").attr('class', 'btn btn-dark visible');
                        };
                        $("#iteration").html(iterations[button_optimization-1]);
                        var pom_n = 0;
                        for (i=0;i < button_optimization-1; i++){
                            pom_n = pom_n + solutions_value[i].length;
                        };
                        for(i=pom_n+1; i < pom_n+solutions_value[button_optimization-1].length+1; i++){
                            $('#table_of_solutions > tbody > tr:nth-child(' + i + ')').show();
                        };
                    });

                    $("#next").unbind("click").on('click', function(){
                        var pom_n = 0;
                        for (i=0;i < button_optimization-1; i++){
                            pom_n = pom_n + solutions_value[i].length;
                        };
                        for(i=pom_n+1; i < pom_n+solutions_value[button_optimization-1].length+1; i++){
                            $('#table_of_solutions > tbody > tr:nth-child(' + i + ')').hide();
                        };

                        button_optimization += 1;
                        $("#next").html(button_optimization+1);
                        $("#previous").html(button_optimization-1);
                        if (button_optimization == number_of_optimization){
                            $("#next").attr('class', 'btn btn-dark invisible');
                        } else {
                            $("#next").attr('class', 'btn btn-dark visible');
                        }
                        if (button_optimization > 1){
                            $("#previous").attr('class', 'btn btn-dark visible');
                        };
                        $("#iteration").html(iterations[button_optimization-1]);
                        var pom_n = 0;
                        for (i=0;i < button_optimization-1; i++){
                            pom_n = pom_n + solutions_value[i].length;
                        };
                        for(i=pom_n+1; i < pom_n+solutions_value[button_optimization-1].length+1; i++){
                            $('#table_of_solutions > tbody > tr:nth-child(' + i + ')').show();
                        };
                    });

                    $("#previous").unbind("click").on('click', function(){
                        var pom_n = 0;
                        for (i=0;i < button_optimization-1; i++){
                            pom_n = pom_n + solutions_value[i].length;
                        };
                        for(i=pom_n+1; i < pom_n+solutions_value[button_optimization-1].length+1; i++){
                            $('#table_of_solutions > tbody > tr:nth-child(' + i + ')').hide();
                        };

                        button_optimization = button_optimization - 1;
                        $("#previous").html(button_optimization-1);
                        $("#next").html(button_optimization+1);
                        $("#next").attr('class', 'btn btn-dark visible');
                        if (button_optimization < 2){
                            $("#previous").attr('class', 'btn btn-dark invisible');
                        } else {
                            $("#previous").attr('class', 'btn btn-dark visible');
                        }
                        if (button_optimization != number_of_optimization){
                            $("#next").attr('class', 'btn btn-dark visible');
                        };
                        $("#iteration").html(iterations[button_optimization-1]);
                        var pom_n = 0;
                        for (i=0;i < button_optimization-1; i++){
                            pom_n = pom_n + solutions_value[i].length;
                        };
                        for(i=pom_n+1; i < pom_n+solutions_value[button_optimization-1].length+1; i++){
                            $('#table_of_solutions > tbody > tr:nth-child(' + i + ')').show();
                        };
                    });
                };
            });
            $(".alert-success").hide();
            $("#reference_button").unbind("click").on('click', function(){
                var clickBtnValue = $("#x_ref").val();
                var correct_dim = dimension_y;
                var client_ref = clickBtnValue.split(';');
                if(client_ref.length == correct_dim){
                    socket.emit('change_reference', clickBtnValue, client_id,'');
                }else{
                    $("#popupx_ref").html('Wrong dimensions, must be: '+correct_dim+'x1');
                    var popup = document.getElementById('popupx_ref');
                    if(window.getComputedStyle(popup).visibility === "visible"){
                        popup.classList.toggle("show");
                    }
                    popup.classList.toggle("show");
                }
            });
            $("#stop_button").unbind("click").on('click', function(){
                socket.emit('change_reference', '', client_id,2);
            });
            socket.on('reference_changed', function(msg) {
                $("#Simulacion_alert").html(msg);
                $(".alert-success").fadeTo(500, 500).slideUp(500, function(){
                $(".alert-success").slideUp(500);});
            });
        });
        function myClickFunction() {
            var popup = document.getElementById('popupx_ref');
            popup.classList.toggle("show");
        }
</script>

<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <h1 id="solution_find"></h1>
        </div>
        <div class="col justify-content-center">
            <div class="input-group" >
                <div class="input-group-preppend">
                    <button type="submit" id="stop_button" class="btn btn-dark">Stop Simulation</button>
                </div>
                <div class="custom-input">
                    <input type="text" class="form-control" placeholder="New Reference" id="x_ref" name="x_ref">
                </div>
                <div class="popup" onclick="myClickFunction()">
                    <span class="popuptext" id="popupx_ref"></span>
                </div>
                <div class="input-group-append">
                    <button type="submit" id="reference_button" class="btn btn-dark">Send</button>
                </div>
            </div>
            <div class="alert-messages">
                <div class="alert alert-success" role="alert" id = 'Simulacion_alert'></div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-4 ">
          <table class="table table-hover table-bordered text-center table-sm"  id="table_of_solutions">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Iteration :</th>
                  <th scope="col" id="iteration"></th>
                </tr>
                <tr>
                  <th scope="col">Variable</th>
                  <th scope="col">Value</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
          </table>
          <div class="btn-group special">
            <button type="button" class="btn btn-dark" id="previous" value=""></button>
            <button type="button" class="btn btn-dark" id="next" value=""></button>
            <button type="button" class="btn btn-dark" id="last" value=""></button>
          </div>
        </div>
        <div class="col-sm-8" id="add_graph">
            <button type="button" class="btn btn-dark" onclick="change_label(Chart_states)">Set x label</button>
            <div class="chart-container">
                <canvas id="Chart_states" width="200" height="100"></canvas>
            </div>
            <button type="button" class="btn btn-dark" onclick="change_label(Chart_inputs)">Set x label</button>
            <div class="chart-container">
                <canvas id="Chart_inputs" width="200" height="100"></canvas>
            </div>
        </div>
        <script>
            function change_label(chart){
                  var label_name = prompt("Please enter name for x label", "[-]");
                  if (label_name != null) {
                    if (chart == Chart_inputs){
                        Chart_inputs.options.scales.yAxes[0].scaleLabel.labelString = label_name;
                        myBar.update();
                    }else{
                        Chart_states.options.scales.yAxes[0].scaleLabel.labelString = label_name;
                        myBar.update();
                    }
                  }
            }
            var ctx = document.getElementById('Chart_states').getContext('2d');
            var Chart_states = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [data_x_graph],
                    datasets: []
                },
                options: {
                    title: {
                        display: true,
                        text: 'Graph of State Development:'
                    },
                    scales: {
                        xAxes: [{
                          scaleLabel: {
                            display: true,
                            labelString: 'Number of steps [-]'
                          }
                        }],
                        yAxes: [{
                          scaleLabel: {
                            display: true,
                            labelString: ''
                          }
                        }]
                    }
                }
            });

            var ctx = document.getElementById('Chart_inputs').getContext('2d');
            var Chart_inputs = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [data_x_graph],
                    datasets: []
                },
                options: {
                    title: {
                        display: true,
                        text: 'Graph of Control Performance:'
                    },
                    scales: {
                        xAxes: [{
                          scaleLabel: {
                            display: true,
                            labelString: 'Number of steps [-]'
                          }
                        }],
                        yAxes: [{
                          scaleLabel: {
                            display: true,
                            labelString: ''
                          }
                        }]
                    }
                }
            });
        </script>

      </div>
    </div>
</div>
{% endblock %}
